%h1 Bookmarks

%nav
  = link_to "New bookmark", new_bookmark_path

%ul#bookmarks
  - @bookmarks.each do |bookmark|
    %li.bookmark
      .url= bookmark.url
      .title= bookmark.title
      .tags
        - bookmark.tags.each do |tag|
          = link_to tag.name, tag