%h1 All bookmarks

- content_for :page_title do
  All bookmarks

- content_for :atom_feed_link do
  %link{rel: 'alternate', type: 'application/atom+xml', href: bookmarks_url(format: 'atom'), title: 'Atom feed of all bookmarks'}

%ul#bookmarks
  - @bookmarks.each do |(created, bookmarks)|
    %section{title: "Bookmarks for #{created.to_formatted_s(:friendly_date)}"}
      %h2= created.to_formatted_s(:friendly_date)
      - bookmarks.each do |bookmark|
        = render partial: 'bookmark', object: bookmark