%h1 Bookmarks tagged with #{@tag.name}

%ul#bookmarks
  - @bookmarks.each do |bookmark|
    %li.bookmark
      .url= bookmark.url
      .title= bookmark.title
      .tags= bookmark.tags.map(&:name).join(' ')