%h1 Bookmarks tagged with #{@tag.name}

= link_to "Edit", edit_tag_path(@tag)

.description= @tag.description

%ul#bookmarks
  - @bookmarks.each do |bookmark|
    = render partial: 'bookmarks/bookmark', object: bookmark