body {
  padding-top: 60px;
}
ul#bookmarks {
  margin-left: 0;
}
#bookmarks li {
  list-style: none;
  padding: 0.5em 0;
}
.bookmark .title {
  font-size: 1.2em;
}
.bookmark .domain {
  color: #298A08;
}
.bookmark .comments {
  color: #6E6E6E;
}
.required label {
  font-weight: bold;
}
.required input {
  background-color: #FFC;
}