!!! 5
%html
  %head
    %title Bookmarks
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    .container
      %p
        %a{:href => "javascript: document.location = '#{new_bookmark_url}?url=' + document.location.href + '&title=' + document.title;"} roosmark!
      = yield