!!! 5
%html
  %head
    %title Bookmarks
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    .container
      %p
        %a{:href => "javascript: document.location = 'http://chrisroos-bookmarks.heroku.com/bookmarks/new?url=' + document.location.href + '&amp;title=' + document.title;"} roosmark!
      = yield